.catalog-main{
  width: 100%;
  margin: 0;
  margin-bottom: 58px;

  @media (min-width: @tablet-width) {
    margin-top: 54px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-top: 110px;
  }
}

.catalog-main__wrapper{
  width: 260px;
  margin: 0 auto;
  margin-top: 28px;
  padding: 0 30px;

  @media (min-width: @tablet-width){
    width: 668px;
    padding: 0 50px;
    margin-top: 78px;
  }

  @media (min-width: @desktop-width){
    width: 1050px;
  }
}

// Product block
.product{
  margin: 0 auto;
}

.product__list{
  margin: 0;
  @media (min-width: @desktop-width){
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
  }
}

.product__item{
  margin: 0;
  height: min-content;
  margin-bottom: 29px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid @special-lightgrey;

  &:nth-child(1){
    @media (min-width: @tablet-width) {
      margin-bottom: 48px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
    }
  }

  &:nth-child(2){
    margin-bottom: 28px;
    @media (min-width: @tablet-width) {
      margin-bottom: 48px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
    }
  }

  &:nth-child(3){
    @media (min-width: @tablet-width) {
      margin-bottom: 0;
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 52px;
  }

  @media (min-width: @desktop-width){
    margin: 0;
    flex-direction: column;
  }
}

.product__item:hover .product__info{
  mix-blend-mode: normal;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}

.product__item:active .product__info{
  mix-blend-mode: normal;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.product__item picture{
  margin: 0;
  height: auto;
  padding: 0;
}

.product__image,
.process__image{
  margin: 0;
}

.product__info{
  margin: 0;
  width: 100%;
  padding: 0px 25px 26px 26px;
  box-sizing: border-box;
  @media (min-width: @tablet-width) {
    padding: 0px 30px 26px 32px;
    height: 334px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 30px 25px 28px;
    height: 192px;
  }
}

.product__description{
  margin: 0;
  margin-top: 25px;

  @media (min-width: @desktop-width) {
    margin-top: 22px;
  }
}

.product__item:nth-child(3) .product__description{
  margin-top: 20px;
  @media (min-width: @tablet-width) {
    margin-top: 25px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 22px;
  }
}

.product__name{
  margin: 0;
  .opensans-bold;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: @black;
  padding: 0;
  padding-right: 10px;
  box-sizing: border-box;
  cursor: pointer;

  &:hover{
    opacity: 0.6;
  }

  &:active{
    opacity: 0.3;
  }

  @media (min-width: @tablet-width){
    width: 250px;
    font-size: 20px;
  }
}
.product__item:nth-child(3) .product__name{
  margin: 0;
}

.product__specifications{
  margin: 0;
  margin-top: 5px;
  .opensans-400;
  font-size: 13px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: @grey;
  @media (min-width: @tablet-width) {
    font-size: 15px;
  }
}

.product__item:nth-child(3) .product__specifications{
  margin-top: 10px;
}

.product__cost{
  position: relative;
  margin: 0;
  margin-top: 41px;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  @media (min-width: @desktop-width) {
    margin: 0;
    align-items: flex-end;
  }
}

.product__cost::after{
  left: 0;
  top: -25px;
  position: absolute;
  content: "";
  width: 204px;
  height: 1px;
  background-color: @special-lightgrey;

  @media (min-width: @tablet-width) {
    width: 256px;
  }
}

.product__cost-value{
  margin: 0;
  .opensans-bold;
  font-size: 15px;
  line-height: 24px;
  color: @black;
  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}

//  Button
.product__add-to-basket{
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  @media (min-width: @desktop-width) {
    margin-bottom: 5px;
    margin-right: 2px;
  }
}

.product__add-to-basket:hover .product__icon{
  fill: @lightblue;
  opacity: 1;
}

.product__add-to-basket:active .product__icon{
  fill: @lightblue;
  opacity: 0.3;
}

.product__img{
  margin-right: 0px;
}
