.catalog-main{
  width: 100%;
  margin: 0;
  margin-bottom: 58px;
  background-color: blue;

  @media (min-width: @tablet-width) {
    margin-top: 54px;
  }
}

.catalog-main__wrapper{
  width: 260px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 0 30px;
  background-color: pink;

  @media (min-width: @tablet-width) {
    width: 668px;
    padding: 0 50px;
  }
}

// Product block
.product{
  margin: 0 auto;
}

.product__item{
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid @special-lightgrey;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
  }
}
.product__image{
  margin: 0;
  @media (min-width: @tablet-width) {
  }
}

.product__info{
  margin: 0;
  width: 100%;
  background-color: darkred;
  padding: 0px 25px 26px 26px;
  box-sizing: border-box;
}

.product__description{
  margin: 0;
  margin-top: 28px;
  background-color: yellow;
}

.product__name{
  margin: 0;
  .opensans-bold;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: @black;
  background-color: #fff;
  padding: 0;
  padding-right: 10px;
  box-sizing: border-box;
}

.product__specifications{
  margin: 0;
  margin-top: 5px;
  .opensans-400;
  font-size: 13px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: @grey;
}

.product__cost{
  margin: 0;
  margin-top: 41px;
  height: max-content;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.product__cost-value{
  margin: 0;
  .opensans-bold;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  background-color: red;
}

//  Button
.product__add-to-basket{
  margin: 0;
  width: 20px;
  height: 19px;
  background-image: url(../img/catalog-products/catalog-basket.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}
