.feedback__comment{
  .opensans-400;
  font-size: 15px;
  line-height: 30px;
  align-items: center;
  color: @grey;
}

.feedback__user-name{
  .opensans-bold;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: @black;

}

.feedback__user-account{
  .opensans-400;
  font-size: 17px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: @grey;
}
