.page-footer{
  min-height: 160px;
  background-color: @lightgrey;

  @media (min-width: @tablet-width){
    min-height: 143px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.page-footer__wrapper{
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  padding: 0 30px;
  margin: 0 auto;

  @media (min-width: @tablet-width){
    width: 668px;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width){
    width: 1050px;
    margin: 0;
    margin-top: -6px;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.logo-footer__wrapper{
  display: none;
  @media (min-width: @tablet-width){
    margin: 0;
    padding: 0;
    display: block;
  }
}

// Социальные сети
.social__social-list{
  width: 144px;
  margin: 25px auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width){
    margin: 0;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  @media (min-width: @desktop-width){
    margin-right: 0;
    margin-left: 0px;
  }
}

.social__social-item{
  width: 25px;
  height: 29px;
  background-image: url(../img/footer/instagram-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;

  &:nth-child(2){
    background-image: url(../img/footer/facebook-icon.svg);
  }

  &:nth-child(3){
    background-image: url(../img/footer/twitter-icon.svg);
  }
}

// Копирайт
.page-footer__copyright{
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @media (min-width: @tablet-width){
    margin: 0;
    padding: 0;
  }
}

.copyright__html-logo{
  width: 27px;
  height: 34px;
  background-image: url(../img/footer/html-logo.svg);
  background-repeat: no-repeat;
  background-size: 27px 34px;
}

.copyright__text{
  .opensans-bold;
  font-size: 19px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: @black;
  margin-right: 27px;
}
