.page-footer{
  min-height: 160px;
  background-color: @lightgrey;

  @media (min-width: @tablet-width){
    min-height: 143px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.page-footer__wrapper{
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  padding: 0 30px;
  margin: 0 auto;

  @media (min-width: @tablet-width){
    width: 668px;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width){
    width: 1050px;
    margin: 0 auto;
    margin-top: -6px;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo{
  display: none;
  @media (min-width: @tablet-width){
    padding: 0;
    display: block;
  }
}
// Logo
.logo__icon{
  fill: @black;
}

.logo__link:hover .logo__icon,
.social__social-link:hover .social__social-icon,
.copyright__link:hover .copyright__icon{
  fill: @lightgreenblue;
}

.logo__link:active .logo__icon,
.social__social-link:active .social__social-icon,
.copyright__link:active .copyright__icon{
  fill: @lightgreenblue;
  fill-opacity: 0.3;
}

// Социальные сети
.page-footer__social-list{
  width: 144px;
  margin: 25px auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width){
    margin: 0;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  @media (min-width: @desktop-width){
    margin: 0;
  }
}

.social__social-item{
  width: 25px;
  height: 29px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

// Копирайт
.page-footer__copyright{
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @media (min-width: @tablet-width){
    margin: 0;
    padding: 0;
  }
}

.copyright__text{
  .opensans-bold;
  font-size: 19px;
  line-height: 18px;
  color: @black;
  margin-right: 27px;
  @media (min-width: @tablet-width){
    margin-top: 5px;
    align-self: flex-start;
  }
}
