.page-header{
  background-color: @white;
}

.main-nav__item,
.user-list__item{
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: @black;
}

.category-bottom__item{
  .opensans-bold;
  width: 320px;
  height: 103px;
  font-size: 19px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: @white;
  background-color: @lightblue;
}

.category-bottom__item:nth-child(2){
  background-color: @bg-kids-toys;
}

// Catalog

.catalog-page-header__content{
background-color: @lightgrey;
}
