.page-header{
  width: 100%;
  background-color: @white;
}

.top-header{
  width: 100%;
  position: relative;
  z-index: 2;
  background-color: @white;

  @media (min-width: @tablet-width){
    width: 668px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: transparent;
  }

  @media (min-width: @desktop-width){
    width: 1050px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

// Navigation
.main-nav{
  width: 100%;
  @media (min-width: @tablet-width){
    width: max-content;
    order: 2;
  }

  @media (min-width: @desktop-width){
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 40%;
    order: 0;
  }
}

.main-nav__list{
  width: 100%;
  padding: 0;
  margin: 0 auto;

  @media (min-width: @tablet-width){
    width: max-content;
    display: flex;
    flex-direction: row;
  }

  @media (min-width: @desktop-width){
    margin: 0;
    align-items: center;
    width: max-content;
    height: 89px;
  }
}

.main-nav__item{
  width: auto;
  .opensans-bold;
  font-size: 17px;
  line-height: 24px;
  color: @black;

  @media (min-width: @tablet-width){
    display: flex;
    margin-left: 2px;
    margin-top: 20px;
    height: auto;
    font-size: 15px;
  }

  @media (min-width: @desktop-width){
    width: max-content;
    margin: 0;
    margin-top: 2px;
    padding: 0;
    height: max-content;
    font-size: 17px;
  }
}

.main-nav__item:nth-child(1) .main-nav__link{
  border-top: 1px solid @special-lightgrey;
  @media (min-width: @tablet-width){
    border: none;
    margin-right: 18px;
  }

  @media (min-width: @desktop-width){
    margin-left: -32px;
    margin-right: 2px;
    border-right: 1px solid @black-10;
  }
}

.main-nav__link{
  width: 100%;
  height: 79px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid @special-lightgrey;

  &:hover{
    opacity: 0.6;
  }

  &:active{
    opacity: 0.3;
  }

  @media (min-width: @tablet-width){
    border: none;
    height: auto;
    margin: 0;
  }

  @media (min-width: @desktop-width){
    padding: 32px 18px 32px 34px;
  }
}

.main-nav__text{
  margin-right: 15px;
}

// Поиск + корзина
.user-shopping{
  width: 100%;
  margin: 0 auto;
  padding: 0;
  .opensans-bold;
  font-size: 17px;
  line-height: 24px;
  color: @black;

  @media (min-width: @tablet-width){
    width: 70%;
    height: 89px;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-bottom: none;
  }

  @media (min-width: @desktop-width){
    margin-left: auto;
    width: 40%;
    order: 2;
  }
}

.user-shopping__list{
  width: 100%;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  background-color: @white;

  @media (min-width: @tablet-width){
    width: max-content;
    margin: 0;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    background-color: transparent;
  }

  @media (min-width: @desktop-width){
    margin: 0;
    margin-right: 2px;
  }
}

.user-shopping__item{
  width: 100%;
  height: 79px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: @tablet-width){
    margin: 0;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: none;
  }
}

// Поиск по сайту
.search__link{
  width: 100%;
  height: 79px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid @special-lightgrey;

  @media (min-width: @tablet-width){
    border: none;
    display: block;
    height: auto;
    padding: 33px 32px;
    border-left: 1px solid @black-10;
    border-right: 1px solid @black-10;
  }

  @media (min-width: @desktop-width){
    margin-left: 50px;
    padding: 35px 32px;
  }
}

.search__link:hover .search__icon,
.basket__link:hover .basket__icon{
  fill: @lightblue;
  opacity: 1;
}

.search__link:active .search__icon,
.basket__link:active .basket__icon{
  fill: @lightblue;
  opacity: 0.3;
}

.search__text{
  position: relative;
  height: max-content;
  margin: 0;
  margin-right: 28px;
  padding: 0;
  @media (min-width: @tablet-width){
    display: none;
  }
}

.search__text::before{
  position: absolute;
  left: -46px;
  top: 3px;
  content: url(../../img/header/search.svg);
  @media (min-width: @tablet-width){
    display: none;
  }
}

.search__img{
  display: none;
  @media (min-width: @tablet-width){
    display: block;
  }
}

// Корзина
.basket__link{
  width: 100%;
  height: 79px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid @special-lightgrey;

  &:hover{
    color: rgba(0, 0, 0, 0.6)
  }

  &:active{
    color: rgba(0, 0, 0, 0.3)
  }

  @media (min-width: @tablet-width){
    width: max-content;
    height: auto;
    padding: 32px 0px 32px 32px;
    border: none;
  }

  @media (min-width: @desktop-width){
    padding: 32px 0px 32px 32px;
  }
}

.basket__text{
  position: relative;
  margin: 0;
  margin-left: 18px;
  @media (min-width: @tablet-width){
    position: relative;
    margin: 0;
  }
}

.basket__text::before{
  position: absolute;
  left: -48px;
  top: 2px;
  content: url(../../img/header/basket.svg);
  @media (min-width: @tablet-width){
    display: none;
  }
}

.basket__img{
  margin: 0;
  display: none;
  @media (min-width: @tablet-width){
    display: block;
    margin-top: 2px;
    margin-right: 30px;
  }
}

// Навигация распродажа
.page-nav{
  display: none;

  @media (min-width: @tablet-width){
    display: none;
  }

  @media (min-width: @desktop-width){
    .opensans-bold;
    font-size: 15px;
    line-height: 24px;
    color: @black;

    display: block;
    order: 3;
  }
}

.page-nav__list{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  @media (min-width: @desktop-width){
    margin-top: 19px;
  }
}

.page-nav__item:first-child{
  margin-right: 62px;
}

.page-nav__link{
  &:hover{
    color: rgba(0, 0, 0, 0.6)
  }

  &:active{
    color: rgba(0, 0, 0, 0.3)
  }
}

// Text delievery
.delivery-info{
  display: none;
  .opensans-400;
  font-size: 15px;
  line-height: 24px;
  color: @grey;

  @media (min-width: @tablet-width){
    order: 3;
    margin: 0;
    margin-top: 20px;
    margin-left: auto;
    padding: 0;
    display: block;
    width: max-content;
  }
}

// Page Heading
.content-heading{
  margin: 0;
  margin-top: -4px;
  height: 283px;
  width: 100%;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  background-color: @lightgrey;
  border-top: 1px solid @black-10;

  background-image: url(../img/header/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: 569px auto;
  background-position: 50% -18px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/header/hero-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width){
    margin: 0;
    margin-top: -45px;
    height: 746px;
    background-image: url(../img/header/hero-desktop.jpg);
    background-size: 1150px auto;
    background-repeat: no-repeat;
    background-position: 50% 0px;

    @media (min-resolution: 2dppx) {
      background-image: url(../img/header/hero-desktop@2x.jpg);
    }
  }

  @media (min-width: @desktop-width){
    margin-top: -58px;
  }
}

.content-heading__text{
  margin: 0;
  margin-top: 72px;
  font-size: 27px;
  line-height: 30px;
  width: 260px;

  @media (min-width: @tablet-width){
    width: 500px;
    margin-top: 155px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width){
    width: 800px;
    margin-top: 156px;
    font-size: 53px;
    line-height: 57px;
  }
}

.content-heading__text br{
  margin: 0;
  padding: 0;
  @media (min-width: @tablet-width){
    display: none;
  }
}

// Logotype
.logo-block{
  width: 100%;
  height: 79px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width){
    width: 30%;
    display: block;
    height: 89px;
    margin: 0;
    padding: 0;
  }

  @media (min-width: @desktop-width){
    width: 20%;
    margin: 0 auto;
    order: 1;
  }
}

.logo-block__wrapper{
  margin: 0;
  margin-left: auto;
  width: 60%;
  display: flex;
  flex-direction: row;
  @media (min-width: @tablet-width){
    padding: 0;
    margin: 0;
    margin-top: 22px;
  }

  @media (min-width: @desktop-width){
    margin: 0;
    width: auto;
    height: 89px;
    justify-content: center;
    align-items: center;
  }
}

.logo-block__link{
  margin: 0 auto;
  margin-top: 4px;
  @media (min-width: @tablet-width){
    padding: 0;
    margin: 0;
  }
  @media (min-width: @desktop-width){
    margin-top: 4px;
  }
}

.logo-block__link:hover .logo-block__icon-header{
  fill-opacity: 0.6;
}

.logo-block__link:active .logo-block__icon-header{
  fill-opacity: 0.3;
}

.logo-mobile{
  @media (min-width: @tablet-width){
    display: none;
  }
}

.logo-tablet{
  display: none;
  @media (min-width: @tablet-width){
    display: block;
  }

  @media (min-width: @desktop-width){
    display: none;
  }
}

.logo-desktop{
  @media (min-width: @mobile-width) and (max-width: 1149px){
    display: none;
  }
}

// Button-toggle mobile
.button-block{
  width: 20%;
  height: 20px;
  margin-top: -2px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  @media (min-width: @tablet-width){
    display: none;
  }
}

.button-block__toggle{
  display: none;
  width: 21px;
  height: 20px;
  margin: 0;
  margin-right: 30px;

  background-image: url(../img/header/menu-close.svg);
  background-repeat: no-repeat;
  background-size: 21px 20px;
  background-color: transparent;

  border: none;

  @media (min-width: @tablet-width){
    display: none;
  }
}

// Catalog header
.catalog-header__content-heading{
  margin: 0;
  width: 100%;
  height: 177px;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  background-color: @lightgrey;
  border-top: 1px solid @black-10;

  @media (min-width: @tablet-width){
    margin-top: -45px;
    height: 226px;
    position: relative;
  }

  @media (min-width: @desktop-width){
    margin-top: -58px;
    height: 272px;
  }
}

.catalog-header__content-heading::after{
  @media (min-width: @tablet-width){
    content: "";
    position: absolute;
    left: 5px;
    bottom: -8px;
    width: 100%;
    height: 24px;
    background-image: url(../img/categories/zigzag-fill-desktop.svg);
    background-size: contain;
    background-repeat: repeat-x;
    background-color: transparent;
  }

  @media (min-width: @desktop-width){
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 34px;
    background-image: url(../img/categories/zigzag-fill-desktop.svg);
    background-size: contain;
    background-repeat: repeat-x;
    background-color: transparent;
  }
}

.catalog-header__heading-text{
  margin: 0;
  margin-top: 72px;
  font-size: 27px;
  line-height: 30px;
  width: max-content;

  @media (min-width: @tablet-width){
    width: 600px;
    margin: 0 auto;
    margin-top: 100px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width){
    width: 800px;
    margin-top: 100px;
    font-size: 53px;
    line-height: 57px;
  }
}
