.hit-product__big-heading{
  .opensans-bold;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: @black;
}

.hit-product__small-heading{
  .opensans-bold;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: @bg-kids-toys;
}

.hit-product__description,
.hit-product__specifications{
  .opensans-400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: @grey;
}

.hit-product__specifications{
  line-height: 20px;
}

.hit-product__cost{
  .opensans-bold;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: @grey;
}

