.opensans-bold(){
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: bold;
}

.opensans-400(){
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
}

// Grey Buttons
.site-button{
  &:hover{
    background-color: @grey;
    color: @white;
  }

  &:active{
    color: @white-30;
  }

  height: 52px;
  background: none;
  border: 2px solid @grey;
  border-radius: none;

  .opensans-bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @grey;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Заголовки на странице index
.site-heading{
  .opensans-bold;
  font-size: 25px;
  line-height: 30px;
  color: @black;

  @media (min-width: @tablet-width){
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width){
    font-size: 53px;
    line-height: 57px;
  }
}

// Form contacts-input font
.contacts-input{
  margin: 0;
  padding: 0;
  .opensans-400;
  font-size: 17px;
  line-height: 18px;
  color: @black;
  border: none;
  position: relative;

  @media (min-width: @tablet-width){
    font-size: 19px;
  }
}

.contacts-input::placeholder {
  opacity: 0.3;
}
